/* CUSTOM CSS FOR HEADER, FOOTER AND OTHER SHARED COMPONENTS */
body {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  font-style: normal;

  color: #F27405;
}

/* header */
header {
  background-color: #ffead8;
  min-height: 10vh;
  border-bottom: 1px solid #F27405;

  .custom-header-logo-img {
    width: 85px;
    height: 85px;
  }
}

/* header > accordion */
.custom-accordion-item {
  background-color: #ffead8;
}

.custom-accordion-btn {
  background: none;
  border: none;
}

.custom-accordion-btn-img {
  width: 25px;
  height: 25px;
  background: none;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

/* header > nav */
.custom-nav-link {
  color: #F27405;

  &:hover {
    color: #65A653;
  }
}

/* main container */
.custom-main-container {
  position: relative;
  min-height: 60vh;
}

/* footer */
.custom-footer {
  background-color: #ffead8;
  border-top: 1px solid #ffead8;
  border-radius: 15px 15px 0 0;
  min-height: 30vh;

}

.custom-footer-container {
  a {
    color: #F27405;

    &:hover {
      color: #65A653;
    }
  }
}

.custom-footer-logo-img {
  width: 80px;
  height: 80px;
}