.card-body {
    background-color: antiquewhite;
}

.text-center {
    text-align: center;
    font-size: 60px;
}
.job-opening-title {
    font-size: 55px;
}

.custom-container {
    color: var(--color-text-primary);
}

.custom-row {
    color: var(--color-white);
}

.btn {
    background-color: #a63c24;

}
