.hero-banner {
    background-image: url("../../assets/images/contact/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 500px;
    width: 100%;

    color: var(--color-white);
    position: relative;
}

.hero-banner-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 100px;
}

iframe {
    min-height: 500px;
}

.custom-col {
    color: var(--color-white);
}

.contact-card-head {
    margin-bottom: 8px;
    color: white;

    padding: 10px 300px;
}

.contact-card-head:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(10px);
}

.contact-info {
    margin-bottom: 8px;
    color: white;
    padding: 10px 300px;
}

.contact-info:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(10px);
}
