.hero-banner {
    background-image: url("../../assets/images/contact/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 500px;
    width: 100%;

    color: var(--color-white);
    position: relative;
}

.hero-banner-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 100px;
}

.contact-card {
    margin-bottom: 20px;
    color: var(--color-text-primary);
    font-family: "Roboto", sans-serif;
}

.contact-card-head {
    margin-bottom: 20px;
    color: var(--color-text-primary);
    font-family: "Roboto", sans-serif;
}

.contact-info {
    margin-bottom: 20px;
    color: var(--color-text-primary);
    font-family: "Roboto", sans-serif;
}

.custom-container-fluid {
    background-color: var(--color-bg-primary);
}

.map-iframe {
    width: 100%;
    height: 600px;
    border: 0;
}
