.hero-banner {
    background-image: url("../../assets/images/contact/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 500px;
    width: 100%;

    color: var(--color-white);
    position: relative;
}

.hero-banner-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 100px;
}

.contact-card {
    margin-bottom: 20px;
    color: white;
    
}

.contact-card-head {
    margin-bottom: 8px;
    color: white;
    
    padding: 10px 300px;
}

.contact-card-head:hover {
    background-color: rgba(255,255,255,0.1);
    transform: translateX(10px);
}


.contact-info {
    margin-bottom: 8px;
    color: white;
    padding: 10px 300px;
}

.contact-info:hover {
    background-color: rgba(255,255,255,0.1);
    transform: translateX(10px);
}

.contact-map{
    width:80%;
    height:300px;
    border-radius: 16px;
}


.custom-container-fluid {
    background-color: var(--color-bg-primary);
}

.map-iframe {
    width: 100%;
    height: 600px;
    border: 0;
}
