.container {
  margin-bottom: 50px;
}

.row {
  margin-bottom: 50px;
}

.row-col-1 {
  margin-bottom: 50px;
}

.content-title {
  font-size: 55px;
  text-align: center;
  color: #F2D8A7;
}

.content-text {
  font-size: 35px;
  text-align: left;
  color: #F2D8A7;
}
#group-main-container{
  width: 80%;
}

#group-reservation-bg-head{
  margin-top: 20px;

}
#group-reservation-form-card{
  margin-top: 20px;
  padding: 3%; 
}
#group-reservation-form {
  margin-bottom: 20px;
  color: #00000091;
  font-size: 35px;
}

.btn-primary {
  background-color: #732514;
  border-color: #732514;
  margin-top: 30px;
}

.card{
  padding: 10px;
  background-color: antiquewhite;
}
