#vouchers-title {
    font-size: 65px;
    font-weight: bold;
    color: #F27405;
}

.card-title {
    font-size: 35px;
    font-weight: bold;
    color: #F27405;
}

.card-text {
    font-size: 15px;
    color: #e8ba14;
}