#vouchers-title {
    font-size: 95px;
    color: #ffffff;
}

#vouchers-first-row {
    margin-bottom: 28px;
}
#vouchers-second-row {
    margin-bottom: 28px;
}

.card-body{
    background-color: antiquewhite;
}


.card-title {
    font-size: 35px;
    color: #a63c24;
}

.card-text {
    font-size: 15px;
    color: #a63c24;
}

.btn-primary {
    background-color: #a63c24;
    border-color: #a63c24;
}

