.book-a-table{
    font-size: 95px;
    color: white;
    text-align: center;
}
#book-a-table-container{
    align-items: center;
    text-align: center;
}

.introduce{
    color: white;
    width: 77.6%;
    text-align: center;
    font-size: 20px;
    margin:0 auto;
    border-radius: 10px;
}

.reservation{
    font-size: 95px;
    color:white ;
    text-align: center;
}


.reservation-form {
    width: 1000px;
    margin: 60px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}


.reservation-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #a63c24;
    outline: none;
}

.error {
    color: #d93025;
    font-size: 13px;
    margin-top: 4px;
    height: 15px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #732514;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #a63c24;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

